
span {
    margin-left: 2rem;
}

.btn-small {
    left: 45%;
    background-color: rgba(71, 40, 247, 0.99);
}
.btn-small:hover {
    background-color: rgba(71, 40, 247, 0.99);
}

.within-text {
    margin: 0.3rem 0 0.3rem 0.6rem;
}
.list{
    font-weight: bold;
    font-family: sans-serif;
}

p .fa-clipboard {
    padding-right: 10px;
    right: 80%;
    font-size: 2.1rem;
    color: rgba(76, 151, 57, 0.99);
    cursor: pointer;
}

.collection-item .fa {
    font-size: 2rem;
    color: rgba(219, 78, 78, 0.99);
    position: fixed;
    visibility: hidden;
    cursor: pointer;
}

.collection-item:hover .fa,
.collection-item .fa:hover {
    transition: .60s cubic-bezier(0, 0.5, 0, 1);
    transform: translate(-250%, 0);
    margin-left: -3rem;
    visibility: visible;
    -webkit-transform: rotate(360deg);
    transform: rotate(-360deg);
}

.fa-times-circle:hover {
    border-radius: 40%;
    animation: pulse 2s infinite
}

@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 rgba(216, 45, 45, 0.99) ;
    }
    70%{
        box-shadow: 0 0 0 10px rgba(219, 78, 78, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(219, 78, 78, 0);
    }
}




